.blog-container {
    padding: 2em 3em;
}

.filter-container {
    margin:1em 0 2em 0;
    display:flex;
    justify-content:center;
    gap: 2em;
}

.filter {
    color: #fff;
    background-color:#FF9AC7;
    border-radius:20px;
    border:none;
    padding:0.5em 1.2em;
    font-size:1.1em;
    cursor:pointer;
}

.filter:hover {
    background-color:#ee89b6;
    transform: scale(0.98);
}

.cards-container {
    margin:2em 0;
    display:flex;
    flex-wrap:wrap;
    gap:2.5em;
    justify-content:space-between;
    align-items:center;
    max-width:1200px;
    margin:0 auto;
}

